USE [master]
GO
/****** Object:  Database [DATN_db]    Script Date: 11/03/2025 9:11:58 CH ******/
CREATE DATABASE [DATN_db]
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATN_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATN_db]
GO
/****** Object:  User [hung]    Script Date: 11/03/2025 9:11:58 CH ******/
CREATE USER [hung] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT] [bigint] NULL,
	[DETAIL_TERM] [bigint] NULL,
	[REGIST_STUDENT] [bigint] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSES]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATE_LEARN]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATE_LEARN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DETAIL_TERM] [bigint] NULL,
	[TIMELINE] [datetime] NULL,
	[LESSION] [int] NULL,
	[STATUS] [bit] NULL,
	[ROOM] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK__DATE_LEA__3214EC27D50CA5D0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_ATTENDANCE]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_ATTENDANCE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ATTENDANCE] [bigint] NULL,
	[DETAIL_TERM] [bigint] NULL,
	[DATE_LEARN] [bigint] NULL,
	[BEGIN_CLASS] [int] NULL,
	[END_CLASS] [int] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK__DETAIL_A__3214EC271CAA5AA2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_TERM]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_TERM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TERM] [bigint] NULL,
	[SEMESTER] [int] NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[TERM_CLASS] [nvarchar](255) NULL,
	[MAX_NUMBER] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT_PROCESS]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT_PROCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT] [bigint] NULL,
	[DETAIL_TERM] [bigint] NULL,
	[REGIST_STUDENT] [bigint] NULL,
	[ATTENDANCE] [bigint] NULL,
	[COMPONENT_POINT] [float] NULL,
	[MIDTERM_POINT] [float] NULL,
	[TEST_SCORE] [float] NULL,
	[OVERALL_SCORE] [float] NULL,
	[NUMBER_TEST] [int] NULL,
	[STATUS] [bit] NULL,
	[ID_STAFF] [bigint] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGIST_STUDENT]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGIST_STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT] [bigint] NULL,
	[DETAIL_TERM] [bigint] NULL,
	[RELEARN] [int] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
 CONSTRAINT [PK_ROOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[START_DATE] [date] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](25) NULL,
	[NAME] [nvarchar](255) NULL,
	[BIRTH_DATE] [datetime] NULL,
	[NUMBER_PHONE] [varchar](15) NULL,
	[GENDER] [bit] NULL,
	[EMAIL] [varchar](50) NULL,
	[DEGREE] [nvarchar](255) NULL,
	[MAJOR] [int] NULL,
	[YEAROFWORK] [int] NULL,
	[POSITION] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF_SUBJECT]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF_SUBJECT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STAFF] [bigint] NULL,
	[SUBJECT] [int] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](20) NULL,
	[NAME] [nvarchar](255) NULL,
	[BIRTH_DATE] [date] NULL,
	[GENDER] [bit] NULL,
	[NUMBER_PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[ADDRESS] [nvarchar](2000) NULL,
	[IMAGE] [nvarchar](2000) NULL,
	[SESSION] [int] NULL,
	[CLASSES] [int] NULL,
	[MAJOR] [int] NULL,
	[ACCOUNT_NUMBER] [varchar](50) NULL,
	[NAME_BANK] [varchar](50) NULL,
	[IDENTITY_CARD] [varchar](50) NULL,
	[CREATE_DATE_IDENTITY_CARD] [varchar](50) NULL,
	[PLACE_IDENTITY_CARD] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[DISTRICT] [varchar](50) NULL,
	[WARD] [varchar](50) NULL,
	[NATIONALITY] [varchar](50) NULL,
	[NATIONALS] [varchar](50) NULL,
	[NATION] [varchar](50) NULL,
	[PHONE_FAMILY] [varchar](50) NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[MAJOR] [int] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHING_ASSIGNMENT]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHING_ASSIGNMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DETAIL_TERM] [bigint] NULL,
	[STAFF] [bigint] NULL,
	[STATUS] [bit] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERM]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](255) NULL,
	[NAME] [nvarchar](255) NULL,
	[COLLEGE_CREDIT] [int] NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK__TERM__3214EC278F8A1173] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STAFF]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STAFF](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STAFF] [bigint] NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [varchar](20) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_STUDENT]    Script Date: 11/03/2025 9:11:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_STUDENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STUDENT] [bigint] NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [varchar](20) NULL,
	[CREATE_BY] [nvarchar](450) NULL,
	[UPDATE_BY] [nvarchar](450) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE] ON 

INSERT [dbo].[ATTENDANCE] ([ID], [STUDENT], [DETAIL_TERM], [REGIST_STUDENT], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, 1, 1, 1, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[ATTENDANCE] ([ID], [STUDENT], [DETAIL_TERM], [REGIST_STUDENT], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 2, 1, 2, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[ATTENDANCE] ([ID], [STUDENT], [DETAIL_TERM], [REGIST_STUDENT], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, 3, 1, 3, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[CLASSES] ON 

INSERT [dbo].[CLASSES] ([ID], [CODE], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'K21CNT1', N'Công nghệ thông tin 1', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[CLASSES] ([ID], [CODE], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'K21CNT2', N'Công nghệ thông tin 2', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[CLASSES] OFF
GO
SET IDENTITY_INSERT [dbo].[DATE_LEARN] ON 

INSERT [dbo].[DATE_LEARN] ([ID], [DETAIL_TERM], [TIMELINE], [LESSION], [STATUS], [ROOM], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 1, CAST(N'2025-03-03T08:02:00.000' AS DateTime), 3, 1, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[DATE_LEARN] ([ID], [DETAIL_TERM], [TIMELINE], [LESSION], [STATUS], [ROOM], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (5, 1, CAST(N'2025-03-04T08:00:00.000' AS DateTime), 3, 1, 2, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[DATE_LEARN] ([ID], [DETAIL_TERM], [TIMELINE], [LESSION], [STATUS], [ROOM], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (7, 1, CAST(N'2025-03-05T08:00:00.000' AS DateTime), 3, 1, 3, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[DATE_LEARN] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAIL_ATTENDANCE] ON 

INSERT [dbo].[DETAIL_ATTENDANCE] ([ID], [ID_ATTENDANCE], [DETAIL_TERM], [DATE_LEARN], [BEGIN_CLASS], [END_CLASS], [DESCRIPTION]) VALUES (2, 1, 1, 2, 1, 1, N'')
INSERT [dbo].[DETAIL_ATTENDANCE] ([ID], [ID_ATTENDANCE], [DETAIL_TERM], [DATE_LEARN], [BEGIN_CLASS], [END_CLASS], [DESCRIPTION]) VALUES (3, 2, 1, 2, 1, 1, N'')
INSERT [dbo].[DETAIL_ATTENDANCE] ([ID], [ID_ATTENDANCE], [DETAIL_TERM], [DATE_LEARN], [BEGIN_CLASS], [END_CLASS], [DESCRIPTION]) VALUES (4, 3, 1, 2, 1, 1, N'')
GO
SET IDENTITY_INSERT [dbo].[DETAIL_ATTENDANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[DETAIL_TERM] ON 

INSERT [dbo].[DETAIL_TERM] ([ID], [TERM], [SEMESTER], [START_DATE], [END_DATE], [TERM_CLASS], [MAX_NUMBER], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, 6, 3, CAST(N'2025-05-01T17:04:00.000' AS DateTime), CAST(N'2025-08-31T17:05:00.000' AS DateTime), N'Trí tuệ nhân tạo 1', 100, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[DETAIL_TERM] ([ID], [TERM], [SEMESTER], [START_DATE], [END_DATE], [TERM_CLASS], [MAX_NUMBER], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 1, 3, CAST(N'2025-06-03T17:07:00.000' AS DateTime), CAST(N'2025-06-21T17:07:00.000' AS DateTime), N'Kiểm thử phần mềm 1', 100, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[DETAIL_TERM] ([ID], [TERM], [SEMESTER], [START_DATE], [END_DATE], [TERM_CLASS], [MAX_NUMBER], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, 6, 1, CAST(N'2025-06-01T13:30:00.000' AS DateTime), CAST(N'2025-08-31T13:31:00.000' AS DateTime), N'Trí tuệ nhân tạo 2', 20, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[DETAIL_TERM] OFF
GO
SET IDENTITY_INSERT [dbo].[MAJOR] ON 

INSERT [dbo].[MAJOR] ([ID], [CODE], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'KTR', N'Kiến trúc', N'chungtrinh@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[MAJOR] ([ID], [CODE], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'CNT', N'Công nghệ thông tin', N'chungtrinh@gmail.com', N'chungtrinh@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[MAJOR] ([ID], [CODE], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, N'QTK', N'Quản trị kinh doanh', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[MAJOR] OFF
GO
SET IDENTITY_INSERT [dbo].[POINT_PROCESS] ON 

INSERT [dbo].[POINT_PROCESS] ([ID], [STUDENT], [DETAIL_TERM], [REGIST_STUDENT], [ATTENDANCE], [COMPONENT_POINT], [MIDTERM_POINT], [TEST_SCORE], [OVERALL_SCORE], [NUMBER_TEST], [STATUS], [ID_STAFF], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, 1, 1, 1, 1, 9, 9, 9, 8.96, 1, 1, 3, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-11T21:01:18.723' AS DateTime), 0, 1)
INSERT [dbo].[POINT_PROCESS] ([ID], [STUDENT], [DETAIL_TERM], [REGIST_STUDENT], [ATTENDANCE], [COMPONENT_POINT], [MIDTERM_POINT], [TEST_SCORE], [OVERALL_SCORE], [NUMBER_TEST], [STATUS], [ID_STAFF], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 2, 1, 2, 2, 9, 9, 3, 5.07, 1, 0, 3, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-11T21:01:18.783' AS DateTime), 0, 1)
INSERT [dbo].[POINT_PROCESS] ([ID], [STUDENT], [DETAIL_TERM], [REGIST_STUDENT], [ATTENDANCE], [COMPONENT_POINT], [MIDTERM_POINT], [TEST_SCORE], [OVERALL_SCORE], [NUMBER_TEST], [STATUS], [ID_STAFF], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, 3, 1, 3, 3, 9, 9, 9, 8.53, 1, 0, 3, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-11T21:01:18.787' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[POINT_PROCESS] OFF
GO
SET IDENTITY_INSERT [dbo].[POSITION] ON 

INSERT [dbo].[POSITION] ([ID], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'Phó khoa', N'chungtrinh@gmail.com', N'chungtrinh@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[POSITION] ([ID], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'Trưởng khoa', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[POSITION] ([ID], [NAME], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, N'Thư ký khoa', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[POSITION] OFF
GO
SET IDENTITY_INSERT [dbo].[REGIST_STUDENT] ON 

INSERT [dbo].[REGIST_STUDENT] ([ID], [STUDENT], [DETAIL_TERM], [RELEARN], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, 1, 1, NULL, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[REGIST_STUDENT] ([ID], [STUDENT], [DETAIL_TERM], [RELEARN], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 2, 1, 1, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[REGIST_STUDENT] ([ID], [STUDENT], [DETAIL_TERM], [RELEARN], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, 3, 1, 1, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[REGIST_STUDENT] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOM] ON 

INSERT [dbo].[ROOM] ([ID], [NAME]) VALUES (1, N'101')
INSERT [dbo].[ROOM] ([ID], [NAME]) VALUES (2, N'102')
INSERT [dbo].[ROOM] ([ID], [NAME]) VALUES (3, N'103')
SET IDENTITY_INSERT [dbo].[ROOM] OFF
GO
SET IDENTITY_INSERT [dbo].[SEMESTER] ON 

INSERT [dbo].[SEMESTER] ([ID], [NAME], [START_DATE], [END_DATE], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'Học kì 1 2024-2025', CAST(N'2024-09-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[SEMESTER] ([ID], [NAME], [START_DATE], [END_DATE], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'Học kì 2 2024-2025', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-04-30T00:00:00.000' AS DateTime), N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[SEMESTER] ([ID], [NAME], [START_DATE], [END_DATE], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, N'Học kì 3 2024-2025', CAST(N'2025-05-01T00:00:00.000' AS DateTime), CAST(N'2025-08-31T00:00:00.000' AS DateTime), N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[SEMESTER] OFF
GO
SET IDENTITY_INSERT [dbo].[SESSION] ON 

INSERT [dbo].[SESSION] ([ID], [NAME], [START_DATE], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'K21', CAST(N'2021-09-01' AS Date), N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[SESSION] ([ID], [NAME], [START_DATE], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'K22', CAST(N'2022-09-01' AS Date), N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[SESSION] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([ID], [CODE], [NAME], [BIRTH_DATE], [NUMBER_PHONE], [GENDER], [EMAIL], [DEGREE], [MAJOR], [YEAROFWORK], [POSITION], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, N'GV001', N'Trịnh Văn Chung', CAST(N'2024-06-20T00:00:00.000' AS DateTime), N'0123456789', 1, N'chungtrinhj@gmail.com', N'Thạc sĩ', 2, 10, 1, N'chungtrinh@gmail.com', N'chungtrinh@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[STAFF] ([ID], [CODE], [NAME], [BIRTH_DATE], [NUMBER_PHONE], [GENDER], [EMAIL], [DEGREE], [MAJOR], [YEAROFWORK], [POSITION], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (4, N'GV002', N'Nguyễn Thị Hồng Hoa', CAST(N'2024-05-30T00:00:00.000' AS DateTime), N'0123456789', 0, N'honghoa@gmail.com', N'Thạc sĩ', 2, 10, 4, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[STAFF] ([ID], [CODE], [NAME], [BIRTH_DATE], [NUMBER_PHONE], [GENDER], [EMAIL], [DEGREE], [MAJOR], [YEAROFWORK], [POSITION], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (5, N'GV003', N'Lê Văn Phong', CAST(N'2024-07-04T00:00:00.000' AS DateTime), N'0123456789', 1, N'vanphong@gmail.com', N'Thạc sĩ', 2, 10, 4, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[STAFF] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF_SUBJECT] ON 

INSERT [dbo].[STAFF_SUBJECT] ([ID], [STAFF], [SUBJECT], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, 3, 1, 0, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2024-06-03T12:29:05.940' AS DateTime), CAST(N'2024-06-03T12:29:05.940' AS DateTime), 0, 1)
INSERT [dbo].[STAFF_SUBJECT] ([ID], [STAFF], [SUBJECT], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (5, 4, 3, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2024-06-03T12:38:36.160' AS DateTime), CAST(N'2024-06-03T12:38:36.160' AS DateTime), 0, 1)
INSERT [dbo].[STAFF_SUBJECT] ([ID], [STAFF], [SUBJECT], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (6, 5, 3, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2024-06-03T12:38:42.447' AS DateTime), CAST(N'2024-06-03T12:38:42.447' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[STAFF_SUBJECT] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENT] ON 

SET IDENTITY_INSERT [dbo].[STUDENT] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBJECT] ON 

INSERT [dbo].[SUBJECT] ([ID], [NAME], [MAJOR], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'Công nghệ phần mềm', 2, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[SUBJECT] ([ID], [NAME], [MAJOR], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'Hệ thống thông tin', 2, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[SUBJECT] ([ID], [NAME], [MAJOR], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, N'Khoa học máy tính', 2, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[SUBJECT] OFF
GO
SET IDENTITY_INSERT [dbo].[TEACHING_ASSIGNMENT] ON 

INSERT [dbo].[TEACHING_ASSIGNMENT] ([ID], [DETAIL_TERM], [STAFF], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (4, 1, 3, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[TEACHING_ASSIGNMENT] ([ID], [DETAIL_TERM], [STAFF], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (7, 2, 4, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[TEACHING_ASSIGNMENT] ([ID], [DETAIL_TERM], [STAFF], [STATUS], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (8, 3, 3, 1, N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[TEACHING_ASSIGNMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[TERM] ON 

INSERT [dbo].[TERM] ([ID], [CODE], [NAME], [COLLEGE_CREDIT], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, N'KTPM', N'Kiểm thử phần mềm', 3, NULL, NULL, CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[TERM] ([ID], [CODE], [NAME], [COLLEGE_CREDIT], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, N'ATVBMTT', N'An toàn và bảo mật thông tin', 2, NULL, NULL, CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[TERM] ([ID], [CODE], [NAME], [COLLEGE_CREDIT], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, N'LTW', N'Lập trình Web', 3, NULL, NULL, CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[TERM] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_STAFF] ON 

INSERT [dbo].[USER_STAFF] ([ID], [STAFF], [USERNAME], [PASSWORD], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 3, N'chungtrinhj@gmail.com', N'0123456789', N'chungtrinh@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[USER_STAFF] ([ID], [STAFF], [USERNAME], [PASSWORD], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, 4, N'honghoa@gmail.com', N'0123456789', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[USER_STAFF] ([ID], [STAFF], [USERNAME], [PASSWORD], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (4, 5, N'vanphong@gmail.com', N'0123456789', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[USER_STAFF] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_STUDENT] ON 

INSERT [dbo].[USER_STUDENT] ([ID], [STUDENT], [USERNAME], [PASSWORD], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (1, 1, N'2110900001', N'2110900001', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[USER_STUDENT] ([ID], [STUDENT], [USERNAME], [PASSWORD], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (2, 2, N'2110900004', N'2110900004', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
INSERT [dbo].[USER_STUDENT] ([ID], [STUDENT], [USERNAME], [PASSWORD], [CREATE_BY], [UPDATE_BY], [CREATE_DATE], [UPDATE_DATE], [IS_DELETE], [IS_ACTIVE]) VALUES (3, 3, N'2110900005', N'2110900005', N'chungtrinhj@gmail.com', N'chungtrinhj@gmail.com', CAST(N'2025-03-03T08:02:00.000' AS DateTime), CAST(N'2025-03-03T08:02:00.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[USER_STUDENT] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLASSES__AA1D437977035F5B]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[CLASSES] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MAJOR__AA1D4379BB87C43C]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[MAJOR] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STAFF__161CF724DC3EA56F]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[STAFF] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STAFF__AA1D4379B31E9C2F]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[STAFF] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STUDENT__161CF724DD7F3DB4]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__STUDENT__AA1D437957520B48]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TERM__AA1D4379DC7C01C2]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[TERM] ADD UNIQUE NONCLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USER_STU__B15BE12E0E5D257B]    Script Date: 11/03/2025 9:11:59 CH ******/
ALTER TABLE [dbo].[USER_STUDENT] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATTENDANCE] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[ATTENDANCE] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[ATTENDANCE] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[CLASSES] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[CLASSES] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[CLASSES] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[DATE_LEARN] ADD  CONSTRAINT [DF__DATE_LEAR__CREAT__59FA5E80]  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[DATE_LEARN] ADD  CONSTRAINT [DF__DATE_LEAR__UPDAT__5AEE82B9]  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[DATE_LEARN] ADD  CONSTRAINT [DF__DATE_LEAR__IS_AC__5BE2A6F2]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[DETAIL_TERM] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[DETAIL_TERM] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[DETAIL_TERM] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[MAJOR] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[MAJOR] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[MAJOR] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[POINT_PROCESS] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[POINT_PROCESS] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[POINT_PROCESS] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[POSITION] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[REGIST_STUDENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[REGIST_STUDENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[REGIST_STUDENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SESSION] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SESSION] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[SESSION] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[STAFF] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STAFF_SUBJECT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[STAFF_SUBJECT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[STAFF_SUBJECT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[SUBJECT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TERM] ADD  CONSTRAINT [DF__TERM__CREATE_DAT__1332DBDC]  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TERM] ADD  CONSTRAINT [DF__TERM__UPDATE_DAT__14270015]  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[TERM] ADD  CONSTRAINT [DF__TERM__IS_ACTIVE__151B244E]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[USER_STAFF] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[USER_STAFF] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[USER_STAFF] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[USER_STUDENT] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[USER_STUDENT] ADD  DEFAULT (getdate()) FOR [UPDATE_DATE]
GO
ALTER TABLE [dbo].[USER_STUDENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([REGIST_STUDENT])
REFERENCES [dbo].[REGIST_STUDENT] ([ID])
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[DATE_LEARN]  WITH CHECK ADD  CONSTRAINT [FK__DATE_LEAR__DETAI__123EB7A3] FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[DATE_LEARN] CHECK CONSTRAINT [FK__DATE_LEAR__DETAI__123EB7A3]
GO
ALTER TABLE [dbo].[DATE_LEARN]  WITH CHECK ADD  CONSTRAINT [FK_DATE_LEARN_ROOM] FOREIGN KEY([ROOM])
REFERENCES [dbo].[ROOM] ([ID])
GO
ALTER TABLE [dbo].[DATE_LEARN] CHECK CONSTRAINT [FK_DATE_LEARN_ROOM]
GO
ALTER TABLE [dbo].[DETAIL_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK__DETAIL_AT__DATE___160F4887] FOREIGN KEY([DATE_LEARN])
REFERENCES [dbo].[DATE_LEARN] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETAIL_ATTENDANCE] CHECK CONSTRAINT [FK__DETAIL_AT__DATE___160F4887]
GO
ALTER TABLE [dbo].[DETAIL_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK__DETAIL_AT__DETAI__17036CC0] FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_ATTENDANCE] CHECK CONSTRAINT [FK__DETAIL_AT__DETAI__17036CC0]
GO
ALTER TABLE [dbo].[DETAIL_ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [FK__DETAIL_AT__ID_AT__17F790F9] FOREIGN KEY([ID_ATTENDANCE])
REFERENCES [dbo].[ATTENDANCE] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_ATTENDANCE] CHECK CONSTRAINT [FK__DETAIL_AT__ID_AT__17F790F9]
GO
ALTER TABLE [dbo].[DETAIL_TERM]  WITH CHECK ADD FOREIGN KEY([SEMESTER])
REFERENCES [dbo].[SEMESTER] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_TERM]  WITH CHECK ADD  CONSTRAINT [FK__DETAIL_TER__TERM__2A164134] FOREIGN KEY([TERM])
REFERENCES [dbo].[TERM] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_TERM] CHECK CONSTRAINT [FK__DETAIL_TER__TERM__2A164134]
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([ATTENDANCE])
REFERENCES [dbo].[ATTENDANCE] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([ID_STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([REGIST_STUDENT])
REFERENCES [dbo].[REGIST_STUDENT] ([ID])
GO
ALTER TABLE [dbo].[POINT_PROCESS]  WITH CHECK ADD FOREIGN KEY([STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[REGIST_STUDENT]  WITH CHECK ADD FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[REGIST_STUDENT]  WITH CHECK ADD FOREIGN KEY([STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([MAJOR])
REFERENCES [dbo].[MAJOR] ([ID])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([POSITION])
REFERENCES [dbo].[POSITION] ([ID])
GO
ALTER TABLE [dbo].[STAFF_SUBJECT]  WITH CHECK ADD FOREIGN KEY([STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[STAFF_SUBJECT]  WITH CHECK ADD FOREIGN KEY([SUBJECT])
REFERENCES [dbo].[SUBJECT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([CLASSES])
REFERENCES [dbo].[CLASSES] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([MAJOR])
REFERENCES [dbo].[MAJOR] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([SESSION])
REFERENCES [dbo].[SESSION] ([ID])
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD FOREIGN KEY([MAJOR])
REFERENCES [dbo].[MAJOR] ([ID])
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT]  WITH CHECK ADD FOREIGN KEY([DETAIL_TERM])
REFERENCES [dbo].[DETAIL_TERM] ([ID])
GO
ALTER TABLE [dbo].[TEACHING_ASSIGNMENT]  WITH CHECK ADD FOREIGN KEY([STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[USER_STAFF]  WITH CHECK ADD  CONSTRAINT [FK__USER_STAF__STAFF__3C34F16F] FOREIGN KEY([STAFF])
REFERENCES [dbo].[STAFF] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_STAFF] CHECK CONSTRAINT [FK__USER_STAF__STAFF__3C34F16F]
GO
ALTER TABLE [dbo].[USER_STUDENT]  WITH CHECK ADD  CONSTRAINT [FK__USER_STUD__STUDE__3D2915A8] FOREIGN KEY([STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_STUDENT] CHECK CONSTRAINT [FK__USER_STUD__STUDE__3D2915A8]
GO
USE [master]
GO
